# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

## ...or create a new repository on the command line
echo "# ReactQuizFinal" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M master
git remote add origin https://github.com/JohnSorba/ReactQuizFinal.git
git push -u origin master

## ...or push an existing repo from the cl
git remote add origin https://github.com/JohnSorba/ReactQuizFinal.git
git branch -M master
git push -u origin master